
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.swipe-dot {
    font-size: .5em;
    &:before {
        content: $fa-var-circle-o;
    }
}

.swipe-dot.on {
    &:before {
        content: $fa-var-circle;
    }
}

.swipe [data-action] {
    @include transition-delay(.1s);

    .hh {
      @include transition-delay(.1s);
    }
}